:host {
  max-width: 320px;
}

.card {
  position: relative;
  background-color: $color-white;
  border-radius: $border-radius-base;
  box-shadow: 2px 2px 8px $color-gray-20;
  padding: $spacing-lg;
  padding-top: $spacing-xl;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
  max-width: 320px;
}

.card .avatar {
  position: absolute;
  top: -20%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: $color-secondary;
  border-width: 1px;
  border-style: solid;
  border-color: $color-secondary;
  border-radius: $border-radius-circle;
}

.card h3 {
  margin: 0;
  text-align: center;
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  color: $color-dark-blue;
}

.card p {
  margin-top: $spacing-md;
  margin-bottom: 0;
  font-size: $font-size-base;
  color: $color-violet-light;
  text-align: center;
}
