:host {
  width: 100%;
  display: table;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $font-size-base;
  text-align: left;
  color: $color-dark;
}

tr {
  border-bottom: 1px solid $color-gray-20;
}

tbody tr:nth-last-child(1) {
  border-bottom: none;
}

th,
td {
  padding: $spacing-md;
}

.color {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: $border-radius-base;
  border-width: 1px;
  border-style: solid;
}
